# Operating System Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride

# Editor & IDE Directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Node / NPM / Dependencies
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / Output / Logs
dist/
build/
*.log
.temp/
.tmp/
